doctype html
html(lang='en')
    head
        include ./head.pug
    body
        #wrapper
            include ./nav.pug
        #page-wrapper
            .container-fluid
                .row
                    .col-lg-12
                    h1.page-header Dashboard - Bienvenido

                .row
                    .col-lg-12
                       
                        h3 Acerca de la plataforma
                        hr

              
                           




    include ./scripts.pug
    //script(src=routes.AssetsURLCP+'/frontend/js/dashboard.js?v='+Math.random())

