meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')

meta(name='viewport', content='width=device-width, initial-scale=1')


link(rel='icon',  href='/cdn/assets/f/images/favicon.ico')
meta(name='application-name', content='scentjourney ')
meta(name='msapplication-square70x70logo', content='/cdn/assets/f/images/win-tiles/small.jpg')
meta(name='msapplication-square150x150logo', content='/cdn/assets/f/images/win-tiles/medium.jpg')
meta(name='msapplication-wide310x150logo', content='/cdn/assets/f/images/win-tiles/wide.jpg')
meta(name='msapplication-square310x310logo', content='/cdn/assets/f/images/win-tiles/large.jpg')
meta(name='msapplication-TileColor', content='#000000')
link(rel='apple-touch-icon', href='/cdn/assets/f/images/myScentJourney.png')
link(rel='apple-touch-startup-image', href='/cdn/assets/f/images/myScentJourney.png')




