doctype html
html
    head
        include ./head.pug
        title yaaflex - yet another amazing framework by leganux
        meta(name="twitter:card" ,content="summary_large_image")
        meta(name="twitter:site" ,content="@leganux")
        meta(name="twitter:title" ,content='yaaflex - yet another amazing framework by leganux')
        meta(name="twitter:description" ,content='yaaflex - yet another amazing framework by leganux')
        // meta(name="twitter:image" ,content=data.imageMeta)
        meta(name="twitter:domain" ,content="scentjourney.net")
        // meta(property='og:url', content=)
        meta(property='og:type', content='article')
        meta(property='og:title', content='yaaflex - yet another amazing framework by leganux')
        meta(property='og:description', content='yaaflex - yet another amazing framework by leganux')
        // meta(property='og:image', content=data.imageMeta)
        meta(name='description', content='yaaflex - yet another amazing framework by leganux') 

    body
        h1 Hello world!!
       
        // Footer
        include ./footer.pug
        

        //scriptsJS
        include ./scripts.pug
    
        // script(src=routes.AssetsURLF+'/js/dist/actionsHome.js')










