doctype html
html
    head
        include ./head.pug
        title YAAFLEX - yet another amazing framework by leganux
        
    body
        br
        br
        br
        hr
        .container
            .row
                .col
                    center

                        h1 Welcome to YAAFLEX
                        h3 yet another amazing framework by leganux
                        p &copy; 2007 -2019  
                            a(href="https://leganux.com", target="_blank" ) leganux.com
                        hr

        .container
            .row
                .col
                   
                       
       
       

        //scriptsJS
        include ./scripts.pug
    










