
@font-face {
    font-family: 'SplendidN'; /*a name to be used later*/
    src: url('/cdn/assets/f/fonts/SplendidN.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Travelling'; /*a name to be used later*/
    src: url('/cdn/assets/f/fonts/TravelingTypewriter.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'SplendidB'; /*a name to be used later*/
    src: url('/cdn/assets/f/fonts/SplendidB.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Lemon'; /*a name to be used later*/
    src: url('/cdn/assets/f/fonts/LemonMilklight.otf'); /*URL to font*/
}


.title_s a{
    font-family: 'Lemon'  !important;
    font-size: 20px !important;
    margin:3px; 
}
.title_s a:hover{
    font-family: 'Lemon'  !important;
    font-size: 20px !important;
    margin:3px; 
    text-decoration: underline;
}

body {
    font-family: 'Travelling'  !important;
    font-size: 14px !important;
    font-weight: 300!important;
    color: black;
    /*background: #FAFAFA !important;  /* fallback for old browsers */
    background: rgb(246, 246, 248) !important;  /* fallback for old browsers */
}

b{
    font-family: 'SplendidB'  !important;
    font-size: 14px !important;
    color: black;
}
a{
    font-family: 'Travelling'  !important;
    font-size: 14px !important;
    color: black;
}

h1{
    font-family: 'Lemon'  !important;
}
h2{
    font-family: 'Lemon'  !important;
}
h3{
    font-family: 'Lemon'  !important;
}
h4{
    font-family: 'Lemon'  !important;
}
h5{
    font-family: 'Lemon'  !important;
}

.img-round {
    border-radius: 50%;
  }

.menuBack{
    background-color: #ffffff !important;
}
.noMargin{
    margin: 0 !important;
    padding: 0 !important;
}
.imgPrinc{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.comment{
    border-radius:10px;  
    padding:20px !important; 
    font-size: 14px !important; 
    background-color:rgb(246, 246, 248); 
    color: #212121;
    font-family: 'Travelling'  !important;
  
  
}


.commentName{
    font-style: normal;
    font-family: 'SplendidB' !important;
    text-decoration: none;
    font-size: 18px !important; 
    color: #005780 !important;
}
.commentName:hover{
    font-style: normal;
    font-family: 'SplendidB' !important;
    text-decoration: none;
    font-size: 18px !important; 
    color: #005780 !important;
}
.Action{
    font-style: normal;
    font-family: inherit !important;
    text-decoration: underline;
    font-size: 10px !important; 
    color: #212121 !important;
    margin: 2px !important;
    padding: 2px !important;
}


.hour{
   
 margin-right: 10px !important;
 margin-left: 10px !important;
 margin-top: 5px !important;
    font-size: 10px !important; 
    color: #005780;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Travelling'  !important;
    
}

.post-space {
    border: solid #d3d0cd 1px;
    background-color: rgb(255, 255, 255);
    padding-left: 0;
    padding-right: 0;
    margin-top:10px; 
}
.post-image{
    width: 100%;
    margin-left:0;
    margin-right:0;
}
.post-title{
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 2%;
}
.post-copy{
    text-align: justify;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.post-copy a {
    color: blueviolet;
}
.pull-right{
    align-content: right;
    text-align: right;
    padding-top: 5%;
    padding-bottom: 3px;
    padding-left: 5%;
    padding-right: 2%;
}
.btn-circle{
    border-radius: 50% !important;
}

.count-on-menu{
    font-size: 7px;
    position: relative;
    top: -50px;
    left: +20px;
}





  
 
  .rowPhoto {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 3px !important ;
  }
  
  /* Create four equal columns that sits next to each other */
  .columnPhoto{
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 3px !important;
  }
  
  .columnPhotoA {
    margin-top: 8px !important;
    padding-top: 8px !important;
    
    vertical-align: middle;
   
  }
  .img-center{
      margin-bottom: 10px !important;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .columnPhoto {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .columnPhoto {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  .principal-search{
      border-top: none !important;
      border-left: none !important;
      border-right: none !important;
      background-color: #212121 !important;
      background: transparent;
      font-family: 'Travelling';
      border-bottom: .5px solid #444444;
      text-align: center;
      z-index: 4 !important;
  }
  .principal-search:focus{
   
    border-top: .5px solid #696969 !important;
    border-left: .5px solid #696969 !important;
    border-right: .5px solid #696969 !important;
    background-color: none !important ;
    background: transparent;
    font-family: 'Travelling' !important;
    font-size: 18px;
    text-align: center;
    color: #fefefe;
  }

  #canvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    }

  .principal-search:hover{
    border-top: .5px solid #696969 !important;
    border-left: .5px solid #696969 !important;
    border-right: .5px solid #696969 !important;
    background-color: none !important ;
    background: transparent;
    font-family: 'Travelling';
    text-align: center;
    color: #fefefe;
  }

  .navI{
    background-color:#212121; 
    color:white;
    z-index: 4 !important;
    
  }
  .SearchSpace{
    background-color:#fefefe; 
    color: #212121;;
    z-index: 4 !important;
    padding: 15px;
    display: none;
    font-family: 'Travelling' !important;
  }

.card-text a{
    color: #003881;
}
.card-text a:hover{
    color: #00449c;
    text-decoration: underline;
}


  #return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 20px;
    height: 20px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 4;
}
#return-to-top i {
    z-index: 4;
    color: #fff;
    margin: 0;
    position: relative;
    left: 5px;
    top: -1px;
    font-size: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
    z-index: 4;
}
#return-to-top:hover i {
    color: #fff;
    top: -5px;
    z-index: 4;
}

.searchElementRow{
        color: #212121 !important;
        text-decoration: none;
        margin: 1px;
        padding: 3px;
        font-family: inherit;
        text-decoration: none;
}

.searchElementRow a{
        color: #212121;
        text-decoration: none;
        font-family: inherit;
        text-decoration: none;
}
.searchElementRow:hover{
        color: #212121;
        background-color: #fefefe;
        text-decoration: none !important;
        margin: 1px;
        padding: 3px;
        font-family: inherit;
        text-decoration: none;
}

.FinderTitle{
        color: #fefefe;
        background-color: #212121;
        text-decoration: none !important;
        font-family: inherit;
}
.homeMenuText {
    font-size: 16px !important;
    margin: 1px !important;
    padding: 0px !important;

}